.chart-holder {
  height: calc(100% - 72px);
  width: 100%;
  position: relative;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 0.5rem;
}

.controls > span > .ant-picker {
  margin-left: 10px;
}

.nodata {
  position: absolute;
  margin: auto;
  inset: 0 0 0 0;
  font-size: 2rem;
  font-weight: 600;
  color: #33333350;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-spin {
  position: absolute;
  inset: 0 0 0 0;
  margin: auto;
  background: #33333330;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
