.App {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  overflow-y: auto;
}

.header {
  flex: none;
  height: 72px;
  width: 100%;
  border: 1px solid rgb(235, 237, 240);
  padding: 0 1.5rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.title {
  font-size: 18px;
  font-weight: 600;
}

.content {
  height: 0;
  flex-grow: 1;
  position: relative;
  padding: 1rem;
}

.footer {
  height: 58px;
  width: 100%;
  padding: 0 1.5rem;
  background: rgb(235, 237, 240);

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
